
* {
  margin: 4px 0px 0px 20px;
  padding: 2px 1px 2px 7px;

}


.pdf-container {
  width: 90%;
  height: 645px;
  background-color: #e4e4e4;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-msg {
  width: 100%;
  color: rgb(192, 78, 78);
  font-size: 14px;
  font-weight: 600;
}